<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<!-- Define Sitecore configuration -->
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement">
		<!-- Configure pipelines -->
		<pipelines>
			<!-- Configure OWIN identity providers -->
			<owin.identityProviders>
				<!-- Add a processor for Facebook authentication -->
				<processor type="OWINAuthentication.IdentityProviders.FacebookAuthentication, OWINAuthentication" resolve="true" />
			</owin.identityProviders>
		</pipelines>
	</sitecore>
</configuration>
