<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines role:require="Standalone or ContentManagement">
			<owin.initialize>
				<processor type="CodewithNikhil.Foundation.Authentication.Saml2.KentorCookieSaver, CodewithNikhil.Foundation.Authentication.Saml2"
						   patch:before="processor[@name='CookieAuthentication']" />
			</owin.initialize>
		</pipelines>
		<!-- Define Sitecore Federated Authentication Configuration -->
		<federatedAuthentication>
			<!-- Define Identity Providers -->
			<identityProviders>
				<!-- Define an identity provider for Azure Active Directory SAML2p -->
				<identityProvider id="saml2" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Login with Azure Active Directory (SAML2p)</caption>
					<domain>sitecore</domain>
				</identityProvider>
			</identityProviders>

			<!-- Define Identity Providers per Sites -->
			<identityProvidersPerSites>
				<mapEntry name="saml2" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<!-- Specify the sites where this identity provider is available -->
					<sites hint="list">
						<site>shell</site>
						<site>login</site>
						<site>admin</site>
						<site>service</site>
						<site>modules_shell</site>
						<site>modules_website</site>
						<site>website</site>
						<site>scheduler</site>
						<site>system</site>
						<site>publisher</site>
					</sites>

					<!-- Link this identity provider to the previously defined 'saml2' identity provider -->
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='saml2']" />
					</identityProviders>

					<!-- Define the external user builder -->
					<externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
						<param desc="isPersistentUser">true</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>

			<!-- Define Property Initializer -->
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
				<maps hint="list">
					<!-- Define a property mapping for 'saml2' admin -->
					<map name="saml2admin" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<source name="idp" value="saml2" />
							<target name="IsAdministrator" value="true" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>
