<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<!-- Configure Twitter Authentication -->
		<pipelines role:require="Standalone or ContentManagement">
			<!-- Initialize OWIN pipeline and add a custom processor before 'CookieAuthentication' -->
			<owin.initialize>
				<processor type="CodewithNikhil.Foundation.Authentication.Saml2.KentorCookieSaver, CodewithNikhil.Foundation.Authentication.Saml2"
                           patch:before="processor[@name='CookieAuthentication']" />
			</owin.initialize>
		</pipelines>

		<federatedAuthentication>
			<!-- Define Twitter as an identity provider -->
			<identityProviders>
				<identityProvider id="Twitter" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<!-- Specify the name and domain manager -->
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Login with Twitter</caption>
					<!-- Set the icon for Twitter -->
					<icon>/sitecore/shell/themes/standard/Images/24x24/twitter.png</icon>
					<domain>sitecore</domain>
					<transformations hint="list:AddTransformation">
					</transformations>
				</identityProvider>
			</identityProviders>

			<!-- Map Twitter identity provider to specific Sitecore sites -->
			<identityProvidersPerSites>
				<mapEntry name="Twitter" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<!-- Specify the sites where Twitter authentication is available -->
					<sites hint="list">
						<site>shell</site>
						<site>login</site>
						<site>admin</site>
						<site>service</site>
						<site>modules_shell</site>
						<site>modules_website</site>
						<site>website</site>
						<site>scheduler</site>
						<site>system</site>
						<site>publisher</site>
					</sites>

					<!-- Link Twitter identity provider to the previously defined 'Twitter' identity provider -->
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Twitter']" />
					</identityProviders>

					<!-- Configure the external user builder for Twitter -->
					<externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
						<param desc="isPersistentUser">true</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>

			<!-- Initialize property mappings for Twitter -->
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
				<maps hint="list">
					<!-- Map Twitter user claims to Sitecore properties -->
					<map name="twitteradmin" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<!-- Define the source claim and the target Sitecore property -->
							<source name="idp" value="Twitter" />
							<target name="IsAdministrator" value="true" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>
